@import "tailwindcss";
/* 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: #fff;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Ocultar scrollbar en la barra de categorías */
/* .hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
} */
